@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.personaldetail{
    background-color: #e6e6f2;
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.personaldetail-img{
    height: 500px;
    width: 50%;
}
.personaldetail-content{
    width: 50%;
    height: 500px;
    
}
.squre{
    display: flex;
    padding: 50px;
}
.rectangle{
    padding-left: 50px;
}